<%= form_with(model: a_article) do |form| %>
  <% if a_article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(a_article.errors.count, "error") %> prohibited this a_article from being saved:</h2>

      <ul>
        <% a_article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
